li {
    box-sizing: content-box;
    border-bottom: 1px solid #dedede;
    padding: 10px;
    list-style-type: none;
    margin: 1px 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    transition: box-shadow ease 0.3s;
}
li:hover,
li:focus {
    box-shadow: 0 0 3px 2px #dedede;
    outline: none;
    border: none;
    border-left: 2px solid;
    box-sizing: border-box;
    border-radius: 1px;
}
